# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependencies
node_modules/
dist/

# Environment variables
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
